video{
  position: absolute;
  left: 50%;
  bottom: 15%;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
}

body{
  background-color: rgb(202, 203, 209);
}

.jumbotron {
  background-image: url(../img/imagem5.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
}

.footer {
  margin-top: 2em;
  background: #e6e6e6;
  padding: 40px 0;
  border-top: 1px solid #AAA;
}

.footer .container {
  position: relative;
}

table{
  text-align: center;
}